/* FONTS */

$font1: 'Roboto', sans-serif;
$font2: 'Courgette', cursive;

/* COLORS */

$color1: #191919;
$color2: #777777;
$color3: #56819f;
$color4: #555555;
$color5: #04ae00;
$color6: #d0d0d0;
$color7: #ffffff;
$color8: #dddddd;
$color9: #eeeeee;
$color10: #f58220;
$color11: #999999;
$color12: #f1f3f3;
$color13: #282828;

/* BORDER */

$border: 1px solid $color8;
