/* GENERAL */ 

@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto:300,400,500,700&subset=latin-ext');

/* COMPONENTS */

@import "normalize";
@import "variables";
@import "mixins";
@import "layout";
@import "fonts";
@import "components/sidebar";
@import "components/content-wrapper";
@import "components/topbar";
@import "components/main-wrapper";

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: $font1;
}

body.page {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    background-color: $color9;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

    
    
    