.sidebar {
    width: 190px;
    background-color: $color1;
    color: $color2;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: auto;

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
        height: auto;
        max-height: 100%;
        overflow: auto;
    }

    .sidebar-header {
        @extend .flexible;
        justify-content: space-around;

        @media (max-width: $mobile-breakpoint) {
            justify-content: space-between;
            padding: 0 10px;
        }

        h1 {
            font-family: $font2;
            color: $color7;
            font-size: 24px;
            letter-spacing: -1px;
            margin: 23px 0 0px 15px;

            @media (max-width: $mobile-breakpoint) {
                margin: 10px;
            }
        }

        i {
            font-size: 24px;
            margin: 23px 5px 0 0;
            color: $color2;

            @media (max-width: $mobile-breakpoint) {
                margin: 10px;
            }

            &:hover {
                color: $color9;
            }
        }
    }

    .sidebar-content {

        @media (max-width: $mobile-breakpoint) {
            display: none;

            &.open {
                display: block;
            }
        }
        
        .sidebar-list {
            list-style-type: none;
            text-decoration: none;
            padding: 0 0 40px 0;

            @media (max-width: $mobile-breakpoint) {
                padding: 0;
            }
            
            li {
                @extend .flexible;
                justify-content: flex-start;
                align-items: center;
                height: 40px;

                a {
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: $color2;
                    padding: 10px 15px;
                    border-left: 5px solid $color1;

                    i {
                        @extend .icon-size;
                    }

                    span {
                        padding-left: 15px;
                        font-size: 14px;
                        font-weight: 300;
                    }

                    &:hover {
                        background-color: $color13;
                        border-left: 5px solid $color10;
                        color: $color9;
                    }  
                }
            }
        }
    
        .manager {
            border-top: 1px solid $color4;
            font-size: 10px;
            padding: 22px 0 0 0px;

            @media (max-width: $mobile-breakpoint) {
                display: block;
                padding: 22px 0 20px 0;
            }

            h2 {
                padding-left: 20px;
                font-weight: 500;
            }

            a {
                width: 100%;
                display: inline-block;
                padding: 0;
                text-decoration: none;

                .person {
                    @extend .flexible;
                    justify-content: flex-start;
                    position: relative;
                    text-decoration: none;
                    
                    img {
                        height: 42px;
                        border-radius: 50%;
                        margin-left: 20px;
                    }

                    .green-circle {
                        @extend .circle;
                        width: 12px;
                        height: 12px;
                        background-color: $color5;
                        top: 0px;
                        left: 50px;
                    }

                    h3 {
                        font-size: 14px;
                        font-weight: 300;
                        padding-left: 15px;
                        color: $color3;
                    }

                    &:hover {
                        background-color: $color13;
                        color: $color9;
                    }
                }
            }
        }
        .mobile--visible {
            display: none;

            .mobile--row {
               
                a {
                text-decoration: none;

                    .topbar-menu {
                        @extend .flexible;
                        border-left: $border;
                        padding: 0 10px;
                        height: 40px;
                        position: relative;

                        @media (max-width: $mobile-breakpoint) {
                            justify-content: flex-start;
                        }

                        &:hover {
                            background-color: $color13;
                        }

                        .orange-circle {
                            @extend .circle;
                            top: 6px;
                            left: 29px;
                            background-color: $color10;
                            width: 8px;
                            height: 8px;
                        }
                        
                        i {
                            font-size: 16px;
                            color: $color2;
                            padding: 0 10px;
                        }

                        h3 {
                            padding: 0 10px;
                            color: $color11;
                            font-size: 18px;
                        }

                        p {
                            padding: 0 10px;
                            color: $color3;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }    
            }

            @media (max-width: $mobile-breakpoint) {
                display: block;
            }

            
        }
    }
}