.topbar {
    background-color: $color7;
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
    border-bottom: $border;

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    a {
        text-decoration: none;
    
        .topbar-menu {
            @extend .flexible;
            border-left: $border;
            padding: 0 20px;
            height: 50px;
            position: relative;

                @media (max-width: $mobile-breakpoint) {
                    justify-content: center;
                }

                &:hover {
                    background-color: $color9;
                }

                .orange-circle {
                    @extend .circle;
                    top: 8px;
                    left: 37px;
                    background-color: $color10;
                    width: 10px;
                    height: 10px;

                    @media (max-width: $mobile-breakpoint) {
                        left: 50%;
                    }
                }
                
                i {
                    font-size: 28px;
                    color: $color2;
                }

                h3 {
                    padding: 0 10px;
                    color: $color3;
                }

                p {
                    padding: 0 10px;
                    color: $color3;
                }
            }
        }
    }