.topbar {
    background-color: $color7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: $border;
    height: 70px;
    display: flex;
    justify-content: flex-end;

    a {
        text-decoration: none;
    
        .topbar-menu {
            @extend .flexible;
            border-left: $border;
            padding: 0 10px;
            height: 70px;
            position: relative;

                @media (max-width: $mobile-breakpoint) {
                    justify-content: center;
                }

                &:hover {
                    background-color: $color9;
                }

                .orange-circle {
                    @extend .circle;
                    top: 22px;
                    left: 29px;
                    background-color: $color10;
                    width: 8px;
                    height: 8px;

                    @media (max-width: $mobile-breakpoint) {
                        left: 50%;
                    }
                }
                
                i {
                    font-size: 16px;
                    color: $color2;
                    padding: 0 10px;
                }

                h3 {
                    padding: 0 10px;
                    color: $color11;
                    font-size: 18px;
                }

                p {
                    padding: 0 10px;
                    color: $color3;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}